* {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, ul, ol, figure {
    margin: 0;
    padding: 0;
}

h1{
	font-size: 60px;
	font-family: 'Open Sans', sans-serif;
	color: black;

}

h2{
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	color: black;

}

h3{

}

.grid {
	display: grid;
}

.fixed-header{
	position: fixed;
	top: 0;
	left: 0;
	box-shadow: 0 0 1.5px rgba(0,0,0,0.5);
	background: white;
	width: 100%;
	height: 80px;
	z-index: 10;

}

div.logo h1{
	position: absolute;
	top: 17px;
	left: 30px;
	width: 200px;
	font-size: 32px;
}

a{
	text-decoration: none;
	transition: all 1s ease;
}

nav{
	position: absolute;
	top: 30px;
	right: 30px;

}

nav ul{
	display: flex;
	list-style-type: none;
}

nav ul li {
	margin-left: 20px;
}

nav ul li a{
	font-weight: bold;
	margin-left: 5px;
	transition: 0.3s;
	color: black;
	text-decoration: none;
	font-size: 18px;
}

.menu-toggle {
    color: black;
    float: right;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: none;
}

#home{
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding-top: 80px;
	background-color: #e0c609b0;

}

#home h2{
	margin:0 30px 0 30px;
}

.masthead{
	padding: 30px;
	
}
#highlights{
	padding: 30px;
	display: flex;
	flex-flow: column;
	justify-content: center;


}

#highlights h1{
	text-align: center;
    margin: 30px;
    font-weight: 300;
}

#highlights .grid {
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 30px;
}

#highlights .grid .cards1, #highlights .grid .cards2, #highlights .grid .cards3 {
	width: 100%;
	background-color: #8ce849bd;
	margin: auto;
	
}

#highlights .grid .cards2{
    background-color: #ea4219e0;
}

#highlights .grid .cards3{
    background-color: #1974eae0;

}

.cards1 h2, .cards2 h2, .cards3 h2{
	font-size: 45px;
	margin: 30px;
    text-align: center;
    font-weight: 500;
}

.cards1 p, .cards2 p, .cards3 p{
	font-size: 20px;
    margin-bottom: 5px;

}

.cards1 p i, .cards2 p i, .cards3 p i{
	margin-right: 10px;
}

#highlights .cards{
	margin: 30px;
}

#contact{
	padding-top: 30px;
	display: flex;
	flex-flow: column;
	

}

#contact h1{
	text-align: center;
    margin: 30px;
    font-weight: 300;
}

#contact .grid {
	grid-template-columns: 1fr 1fr;
	background-color: #ccc;

}

.box1 .grid{
	grid-template-columns: 1fr 1fr;
	width: 20%;
    margin-top: 20px;
}

.box1{
	margin: 30px;
	
}

#contact h2{
    margin-left: 30px;
    font-size: 40px;
    color: white;
    
}

#contact p{
    margin-left: 30px;
	font-size: 20px;
	width: 70%;
	margin-top: 20px;
	margin-bottom: 30px;
	color: white;
}

#contact a{
	font-size: 20px;
	margin-left: 30px;
	color: white;
}

#contact a:hover{
	color: blue;
}

iframe{
	height: 370px;
	filter: grayscale(1);
}

footer{
	width: 100%;
	height: 80px;
	text-align: center;
	align-items: center;
	justify-content: center;
	display: flex;
	background-color: black;
}

footer p{
	color: white;
}

footer .grid{
	grid-template-columns: 1fr 1fr 1fr;
}

footer i{
    color: white;
    border: groove;

}

footer .backhome{
	text-align: right;
}

@media only screen and (max-width: 1024px){

  .grid{
  	grid-template-columns: 1fr!important;
  }

  #home, #contact, #highlights {
  	height: unset;
  }

  footer .backhome{
	text-align: center;
	margin-top: 10px;
}

.menu-toggle{
	display: block;
	position: absolute;
	right: 10px;
}

nav{
	position: absolute;
    width: 100%;
    height: 100px;
    background: white;
    top: 80px;
    left: -100%; 
    transition: 0.5s;
}
nav ul {
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    margin: 0;
    height: 100px;
    border-bottom: 1px solid rgba(0,0,0,.1);
}

nav ul li{
    margin-bottom: 5px;
    
}

nav.active { left: 0;

    }

 h1{
 	font-size: 50px;
 }   

}




















